body {
  background-color:#82FA58
  }

p {
  color:#4A235A 
}
h1 {
  color:#2471A3 
}

.destacado{
  font-family:"Arial";
  font-style:italic;
  color:#0B0B3B;
  text-align:center;
  font-size: 50px
}

.segundo{
  font:Arial;
  font-style:italic;
  color:#DF013A;
  text-align:center;
  font-size: 40px
    
  
  
}